.spinner{
  display: flex;
  height: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.rings > div {
  position: relative;
  width: 100px;
  height: 100px;
}
.rings{
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
.ring, .inner-ring{
  position: absolute;
  left: 0%;
  top: 0%;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #dadada;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}

.inner-ring{
  width: 88px;
  height: 88px;
  left: 6px;
  top: 6px;
  animation-name: rotateReverse;
  animation-duration: 3s;
  border-right-color: #fff;
}
.ring{
  width: 100px;
  height: 100px;
  border-left-color: #fff ;
  animation-name: rotate;
}
@keyframes rotate{
  0%{
    transform: rotate(0);
  }
100%{
    transform: rotate(360deg);
    
  }
}
@keyframes rotateReverse{
  0%{
    transform: rotate(0);
  }
100%{
    transform: rotate(-360deg);
    
  }
}
